.react-flow__node-itemNode {
  border-radius: var(--xy-node-border-radius, var(--xy-node-border-radius-default));
  color: var(--xy-node-color, var(--xy-node-color-default));
  text-align: center;
  border: var(--xy-node-border, var(--xy-node-border-default));
  background-color: var(--xy-node-background-color, var(--xy-node-background-color-default));
}

.react-flow__node-itemNode.selectable:hover {
    box-shadow: var(--xy-node-boxshadow-hover, var(--xy-node-boxshadow-hover-default));
}

.react-flow__node-itemNode.selectable.selected,
.react-flow__node-itemNode.selectable:focus,
.react-flow__node-itemNode.selectable:focus-visible {
    box-shadow: var(--xy-node-boxshadow-selected, var(--xy-node-boxshadow-selected-default));
}

.node-content {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 0 10px;
}

.node-image {
    margin: 0 10px 0 0;
    padding: 0;
}

.node-image img {
    width: 64px;
    height: 64px;
}

.node-text {
    text-align: left;
}

.node-full-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.node-short-name {
    font-size: 12px;
}

.node-stations {
    display: flex;
    flex-direction: row;
    font-size: 10px;
}

.node-station {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-right: var(--xy-node-border, var(--xy-node-border-default));
    border-top: var(--xy-node-border, var(--xy-node-border-default));
    background-color: var(--xy-node-background-color, var(--xy-node-background-color-default));
}

.node-station:first-child {
    border-end-start-radius: var(--xy-node-border-radius, var(--xy-node-border-radius-default));
}

.node-station:last-child {
    border-right: none;
    border-end-end-radius: var(--xy-node-border-radius, var(--xy-node-border-radius-default));
}

.node-station img {
    width: 32px;
    height: 32px;
    margin: 0 5px 0 0;
}

.center-handle {
    left: auto;
}